<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friends %>
  <div class="card card-header results-block">
    <table class="col-md-12">
      <tbody>
        <% @friends.each do |friend| %>
          <tr>
            <td><strong>Name: </strong> <%= friend.full_name %></td>
            <td><strong class="ml-4">Email: </strong> <%= friend.email %></td>
            <td><%= link_to 'View Profile', user_path(friend), class: "btn btn-xs btn-success ml-4 mb-2" %>
              <% if current_user.not_friends_with?(friend.id) %> 
                <%= link_to 'Add to Friends List', friendships_path(friend: friend), class: "btn btn-xs btn-success", method: :post %>
              <% else %>
                <span class="badge badge-secondary ml-4">
                  In Friends List
                </span>
              <% end %>
            </td>
          </tr> 
        <% end %>
      </tbody>
    </table>  
  </div>
<% end %>