<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
  <div class="card card-header results-block">
    <strong>Symbol: </strong> <%= @stock.ticker.upcase %>
    <strong class="ml-4">Name: </strong> <%= @stock.name %>
    <strong class="ml-4">Price: </strong> <%= @stock.last_price %>
    <% if current_user.can_track_stock?(@stock.ticker.upcase) %>
      <%= link_to 'Add to Portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker),
                                    class: "btn btn-xs btn-success ml-4", method: :post %>
    <% else %>
      <span class="badge badge-secondary">
        <% if !current_user.under_stock_limit? %>
          You Are Already Tracking 10 Stocks
        <% elsif current_user.stock_already_tracked?(@stock.ticker.upcase) %>
          You Are Already Tracking This Stock
        <% end %>
      </span>
    <% end %>
  </div>
<% end %>